{% extends "base.html" %}

{% block page_title %}
the_random_page
{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="/static/index.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-center font-italic font-weight-bold font" href="#"> The Random Page </a>
  <a class="text-white navbar-toggler navbar-toggler-right " href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
</nav>

<div class="mashead">
  <div class="header-content">
    <div class="header-content-inner">
        <h1 class="toptext topfont" > #Best Way To Random !</h1>
      <div class="buttontop">
        <a href="#" class=" btn btn-default btn-danger col-md-2 font-italic  font-weight-bold mt-md-5" >START RANDOMING</a>
      </div>

    </div>
  </div>
</div>

<div class="container mt-md-5 mb-md-5 ">
  <div class="info row">
    <div class="cardinfo card mx-md-2 col-md-4">
      <div class="card-title bg-dark ">
        <h1 class="info1  mr-md-1 text-primary"> Developer </h1>
      </div>
      <div class="card-body">
        <h5 class="font-italic"> Programmer :</h5>
        <a href="https://www.facebook.com/ta.quangminh.3"> _ Tạ Quang Minh</a>
        <br>
        <a href="https://www.facebook.com/nghia.ngongan.912">_ Dương Trần Nghĩa </a>
        <h5 class="font-italic"> Designer : </h5>
        <a href="https://www.facebook.com/nam.pt.16"> _ Phan Thái Nam</a>
        <h5 class="font-italic">Tester :</h5>
        <a href="https://www.facebook.com/paint.my.life.over.and.over?sk=wall">__ Đặng Nguyễn Phương Trang</a>


      </div>
    </div>
    <div class="card cardinfo mx-md-2 col-md-4">
      <div class="card-title bg-dark ">
        <h1 class= " mr-md-1 info1 text-muted"> Contact </h1>
      </div>
      <div class="card-body">
        <h5 class="font-italic" > Phone Number : </h5>
        <a href="#">0913478978</a>
        <h5 class="font-italic" >Email :</h5>
        <a href="#">Phanthainam1092002@gmail.com</a>
      </div>


    </div>
    <div class="card cardinfo mx-md-2 col-md-4">
      <div class="card-title bg-dark ">
        <h1 class=" mr-md-1 text-warning info1"> FAQ </h1>

      </div>
      <div class= "mx-md-1">
        <form class="form " action="index.html" method="post">
          <label for="">Your Name</label>
          <input class="form-control" type="text" name="" value="">
          <label for="">Question</label>
          <input class="form-control" type="text" name="" value="">
          <button class="button btn btn-primary float-right mt-md-2" type="button" name="button">Submit</button>

      </div>

      </form>

    </div>

  </div>

</div>

<div class="random-field mt-md-5 row ">
  <div class="container randomplace">
    <form class="" action="index.html" method="post">
      <label class="random-field-font font-weight-bold mt-md-2 " for="">Number of Choices</label>
      <br>
      <input type="number" class="inputrandom form-control " id="choice" name="item_to_random" value="">
      <br>
      <button class="button btn btn-secondary mt-md-2" type="button" name="button"> Add choice </button>
      <br>
      <label  class="random-field-font font-weight-bold mt-md-5" for="">Choice</label>
      <br>
      <input type="number" class="inputrandom form-control " id="choice" name="item_to_random" value="">
      <br>
      <button   class="button  btn btn-secondary mt-md-2" type="button" name="button">Random Now !</button>
      <label Class="random-field-font"  for=""></label>
    </form>
  </div>
</div>


<!-- {% include "option_input.html" %}

<br>
<button class="btn btn-center" type="button" name="button"> Start radoming </button>

{% endblock %} -->
