body{
}
.card-game-type{
  min-height: 683px !important;
}
.card-game-img{
  object-fit: cover;
  height: 20vw;
}
.card-img-detail{
  display: block;
  margin: auto;
  object-fit: cover;
  width: 65vw;
}
.topfont{
  font-family: 'Lobster', cursive;
  color: white;
}
/*.toptext{
  left: 0;
  top: 0;
  vertical-align: middle;
  height: 500px;
  width: 100%;
  text-align: center;
  background-image: url("https://ak5.picdn.net/shutterstock/videos/2324615/thumb/8.jpg");
  background-position: center;

}*/

.info1{
  font-family: 'Archivo Black', sans-serif;
}

.info{
  display: flex;
  flex-wrap: nowrap;


}
.cardinfo{
 padding: 0 !important

}

.toptext {
  text-align: center;
  width: 100%;
  font-size: 100px;
}
.buttontop {
  /*height: 100px !important;*/
  text-align: center;

}
.button {
  border-radius: 10px

}

.header-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 100%;
  background-image: url(/static/images/45b8f77ff445300d1893e930dc3c0c4e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.random-field{
  background-color: #343a40;
  height: 350px
}
.randomplace{
  text-align: center;

}
.random-field-font{
  color: white

}

.inputrandom{
  display: flex;
  flex-direction: column;
  justify-content: center;;
  width: 350px;
  height: 50px;
  text-align: center;
  display: inline-block;


}
/*.login_input{
  max-width: 800px;
}*/
