{% extends "base.html" %}

{% block page_title %}
the_random_page
{% endblock %}

{% block page_content %}

<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-center font-italic font-weight-bold font" href="#"> The Random Page </a>
</nav>

<div class="mashead">
  <div class="header-content">
    <div class="header-content-inner">
        <h1 class="toptext topfont" > #Best Way To Random !</h1>
      <div class="buttontop">
        <a href="#" class=" btn btn-default btn-danger col-md-2 font-italic  font-weight-bold mt-md-5" >START RANDOMING</a>
      </div>

    </div>
  </div>
</div>

  <div class="container randomplace">
      <label class="random-field-font font-weight-bold mt-md-5 " for="">Number of Choices</label>
      <input type="number" class="inputrandom form-control " id="choice">
      <button class="button btn btn-secondary mt-md-2 font-weight-bold" type="button" onclick="addFields()" name="button"> Add choices </button>
      <div id="choices_field" class="text-white font-italic m-3">
      </div>
      <div class="text-dark c font-weight-bold m-3" id="result_field">

      </div>
      <br>
      <button   class="button  btn btn-secondary mt-md-2 font-weight-bold" type="button" onclick="random()" name="button">Random Now !</button>
      <label Class="random-field-font"  for=""></label>

  </div>










{% endblock %}
